<a href="https://colab.research.google.com/github/Isak-toast/codefighter/blob/master/Code_sig_1~2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**[1] Write a function that returns the sum of two numbers.**

**Input/Output**

[execution time limit] 4 seconds (py3)

[input] integer param1 // Guaranteed constraints: -1000 ≤ param1 ≤ 1000.

[input] integer param2 // Guaranteed constraints: -1000 ≤ param2 ≤ 1000.

[output] integer // The sum of the two inputs.

In [0]:
def add(param1, param2):
    return param1+param2

In [0]:
add(2,1)

3

#**[2] Given a year, return the century it is in. The first century spans from the year 1 up to and including the year 100, the second - from the year 101 up to and including the year 200, etc.**

**Input/Output**

[execution time limit] 4 seconds (py3)

[input] integer year // A positive integer, designating the year. //
Guaranteed constraints:
1 ≤ year ≤ 2005.

[output] integer // The number of the century the year is in.

In [0]:
import math
def centuryFromYear(year):
    return math.ceil(year/100)

In [6]:
year = 1700
centuryFromYear(year)

17